@page "{Owner}/{Reponame}/{Branch}/{RequestFile}"
@model BitHub.Pages.Repositories.EditModel
@using BitHub.Helpers.Repository
@{
    ViewData["Title"] = "Edit";
}

@section PageAdditionalHeader {
    @await Html.PartialAsync("_EditPageScripts_Pre")
}

<div class="container-fluid body-content">

    @await Html.PartialAsync("_RepositoryHeaderPartial", Model.RepoInfo)


    <div class="tab-content mt-4 " id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-code">
            <div class="container mx-auto">


                <form method="POST" id="edit-page-form">
                    <div class="row my-2">
                        <div class="col">
                            <ul class="list-inline my-0">
                                <li class="list-inline-item">
                                    <ol class="breadcrumb my-2 px-1 py-1 bg-white edit-page-breadcrumb">
                                        <li class="breadcrumb-item">
                                            <strong><a asp-page="./Index" asp-route-Owner="@Model.RepoInfo.Owner" asp-route-Reponame="@Model.RepoInfo.RepoName" class="active">@Model.RepoInfo.RepoName</a></strong>
                                        </li>
                                        @{ int curLevel = 0; }
                                        @foreach (var parentDir in Model.PathVM.ParentDirectories)
                                        {
                                            <li class="breadcrumb-item">
                                                <a asp-page="./Directory"
                                                   asp-route-Owner="@Model.RepoInfo.Owner"
                                                   asp-route-Reponame="@Model.RepoInfo.RepoName"
                                                   asp-route-Branch="@Model.BranchVM.CurrentBranch.FriendlyName"
                                                   asp-route-RequestFile="@DirectoryHelper.ReconstructPath(curLevel, Model.PathVM.ParentDirectories, Model.PathVM.CurrentPath)">@parentDir</a>
                                            </li>
                                        }
                                        <li class="breadcrumb-item d-inline-flex">
                                            <input asp-for="Input.FileName"
                                                   class="form-control"
                                                   id="modified-file-name"
                                                   placeholder="Name your file..."
                                                   value="@Model.PathVM.CurrentPath">
                                        </li>
                                    </ol>
                                </li>
                                <li class="list-inline-item">
                                    <button class="btn btn-sm clipboard-btn py-2 px-3">
                                        <img class="mx-auto d-block" src="~/images/octicons/clippy.svg">
                                    </button>
                                </li>
                                <li class="list-inline-item">
                                    or
                                    <a asp-page="./File"
                                       asp-route-Owner="@Model.RepoInfo.Owner"
                                       asp-route-Reponame="@Model.RepoInfo.RepoName"
                                       asp-route-Branch="@Model.BranchVM.CurrentBranch.FriendlyName"
                                       asp-route-RequestFile="@Model.FileVM.FullPath">cancel</a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col">
                            <div class="card" id="">

                                <ul class="nav nav-tabs file-header bg-light" id="myTab" role="tablist">
                                    <li class="nav-item edit-page-nav-item">
                                        <a class="nav-link active text-dark" id="EditTab" data-toggle="tab" href="#edit-page">
                                            <img src="~/images/octicons/code.svg"> Edit file
                                        </a>
                                    </li>
                                    <li class="nav-item edit-page-nav-item">
                                        <a class="nav-link text-dark" data-toggle="tab" href="#preview-page" onclick="EditBlock.getDiff()">
                                            <img src="~/images/octicons/eye.svg"> Preview changes
                                        </a>
                                    </li>

                                </ul>



                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="edit-page">
                                        <div class="row">
                                            <div class="col">
                                                <div class="editor-div" id="editor"></div>
                                                <textarea asp-for="Input.Content" id="editor-code-content" style="display:none"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="preview-page">
                                        <div class="row">
                                            <div class="col">
                                                <div id="diff-preview-div"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5>Commit changes</h5>
                                    <div class="form-group my-3">
                                        <input asp-for="Input.Title"
                                               class="form-control input-contrast"
                                               placeholder="Update @Model.PathVM.CurrentPath">
                                    </div>
                                    <div class="form-group my-3">
                                        <textarea asp-for="Input.Description"
                                                  class="form-control input-contrast form-textarea"
                                                  placeholder="Add an additional extended description..."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-radio mb-2">
                                            <input type="radio"
                                                   asp-for="Input.CreateNewBranch"
                                                   value="@Model.Radios[0].Id"
                                                   id="customRadio1" name="customRadio" class="custom-control-input" checked="checked" onclick="showEditBranchInput(false)">
                                            <label class="custom-control-label" for="customRadio1">
                                                <img class="mx-1 align-baseline" src="~/images/octicons/git-commit.svg"> Commit directly to the
                                                <span class="branch-name">@Model.BranchVM.CurrentBranch.FriendlyName</span> branch.
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input asp-for="Input.CreateNewBranch"
                                                   type="radio" id="customRadio2"
                                                   value="@Model.Radios[1].Id"
                                                   name="customRadio" class="custom-control-input" onclick="showEditBranchInput(true)">
                                            <label class="custom-control-label" for="customRadio2">
                                                <img class="mx-1 align-baseline" src="~/images/octicons/git-pull-request.svg"> Create a
                                                <strong>new branch</strong> for this commit and start a pull request.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="ml-4 mt-2 col-3" id="new-branch-name" hidden>
                                        <input asp-for="Input.NewBranchName" class="form-control img-input" placeholder="New branch name...">
                                        <span asp-validation-for="Input.NewBranchName"></span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-success" data-disable-with="Commiting changes..." type="submit">Commit changes</button>
                            <a class="btn btn-outline-danger"
                               asp-page="./File"
                               asp-route-Owner="@Model.RepoInfo.Owner"
                               asp-route-Reponame="@Model.RepoInfo.RepoName"
                               asp-route-Branch="@Model.BranchVM.CurrentBranch.FriendlyName"
                               asp-route-RequestFile="@Model.FileVM.FullPath">Cancel</a>
                        </div>
                    </div>
                </form>

                <div asp-validation-summary="All" class="text-danger"></div>

            </div>
        </div>

        <div id="original-file-name" style="display:none">@Model.PathVM.CurrentPath</div>
        <div id="original-file-text" style="display:none">@Model.FileVM.Content</div>

        <div class="tab-pane fade" id="nav-issues">
            aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi
            duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa
        </div>
        <div class="tab-pane fade" id="nav-pr">
            aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi
            duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa
        </div>
    </div>
</div>

@section PageAdditionalPostScripts {
    <script>
        this.EditBlock.initEditor();
    </script>
    <script src="~/js/postFormActions.js"></script>
}

@section ValidationScripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}