@page "{Owner}/{Reponame}/{Branch}/{RequestFile}"
@model BitHub.Pages.Repositories.FileModel
@using BitHub.Helpers.Repository
@{
    ViewData["Title"] = "File";
}

@section PageAdditionalHeader {
    @await Html.PartialAsync("_CodeHighlightScriptsPartial")
}

<div class="container-fluid body-content">

    @await Html.PartialAsync("_RepositoryHeaderPartial", Model.RepoInfo)

    <div class="tab-content mt-4 " id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-code">
            <div class="container mx-auto">


                <div class="row my-0">
                    <div class="col">
                        <ul class="list-inline mb-0">

                            <li class="list-inline-item">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle btn-sm btn-outline-dark " type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                        Branch:
                                        <span class="font-weight-bold branch-name-span align-bottom">master</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-branch-list">
                                        @foreach (var branch in Model.BranchVM.Branches)
                                        {
                                            <a class="dropdown-item" href="#">@branch</a>
                                            <div class="dropdown-divider"></div>
                                        }
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col text-right">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-outline-dark">Find file</button>
                            <button type="button" class="btn btn-outline-dark">Copy path</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <ol class="breadcrumb my-2 px-1 py-1 bg-white">
                            <li class="breadcrumb-item">
                                <strong><a asp-page="./Index" asp-route-Owner="@Model.RepoInfo.Owner" asp-route-Reponame="@Model.RepoInfo.RepoName" class="active">@Model.RepoInfo.RepoName</a></strong>
                            </li>
                            @{ int curLevel = 0;}
                            @foreach (var parentDir in Model.PathVM.ParentDirectories)
                            {
                                <li class="breadcrumb-item">
                                    <a asp-page="./Directory"
                                       asp-route-Owner="@Model.RepoInfo.Owner"
                                       asp-route-Reponame="@Model.RepoInfo.RepoName"
                                       asp-route-Branch="@Model.BranchVM.CurrentBranch.FriendlyName"
                                       asp-route-RequestFile="@DirectoryHelper.ReconstructPath(curLevel, Model.PathVM.ParentDirectories, Model.PathVM.CurrentPath)">@parentDir</a>
                                </li>
                            }
                            <li class="breadcrumb-item active">
                                @Model.PathVM.CurrentPath
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <div class="card file-nav">
                            <div class="card-body card-repo-header py-2 px-1">
                                <div class="col text-right">
                                    Latest commit
                                    <a href="#" class="text-dark">
                                        <code>@Model.FileVM.LatestCommt.Sha.Substring(0, 7)</code>
                                    </a>
                                    <span> @DateTimeHelper.GetTimeDifference(Model.FileVM.LatestCommt.Committer.When)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item py-2 file-header bg-light">
                                    <div class="row">
                                        <div class="col">
                                            <code class="text-dark">@Model.FileVM.LineCount lines</code>
                                            <span class="file-info-divider"></span>
                                            <code class="text-dark">@Model.FileVM.Size B</code>
                                        </div>

                                        <div class="col text-muted text-right">
                                            <div class="btn-group btn-group-sm mx-1">
                                                <button type="button" class="btn btn-outline-dark">Raw</button>
                                                <button type="button" class="btn btn-outline-dark">Blame</button>
                                                <button type="button" class="btn btn-outline-dark">History</button>
                                            </div>
                                            <a class="mx-2"
                                               asp-page="./Edit"
                                               asp-route-Owner="@Model.RepoInfo.Owner"
                                               asp-route-Reponame="@Model.RepoInfo.RepoName"
                                               asp-route-Branch="@Model.BranchVM.CurrentBranch.FriendlyName"
                                               asp-route-RequestFile="@Model.FileVM.FullPath">
                                                <img src="~/images/octicons/pencil.svg">
                                            </a>
                                            <a class="mx-2" href="#"><img src="~/images/octicons/trashcan.svg"></a>


                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item py-1">
                                    <div class="row">
                                        <div class="col">
                                            <pre class="mb-0">
                                            <code class="@Model.FileVM.LanguageShort code-block">@Model.FileVM.Content
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="tab-pane fade" id="nav-issues">
            aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi
            duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa
        </div>
        <div class="tab-pane fade" id="nav-pr">
            aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi
            duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa
        </div>
    </div>
</div>

