@page "{Owner}/{Reponame}/{Branch?}"
@model BitHub.Pages.Repositories.IndexModel
@using BitHub.Helpers.Repository
@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid body-content">


    @await Html.PartialAsync("_RepositoryHeaderPartial", Model.RepoInfo)

    <div class="tab-content mt-4 " id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-code">
            <div class="container mx-auto px-0">

                <div class="row">
                    <div class="col">
                        @if (Model.RepoInfo.Description != null)
                        {<p>@Model.RepoInfo.Description</p> }
                    else
                    { <p><em>No description, website, or topics provided.</em></p>}
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        @foreach (var tag in Model.RepoInfo.Tags)
                        {
                            <span class="badge badge-primary">@tag.Tag.TagName</span>
                        }
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col">
                        <div class="card">
                            <div class="card-body py-1">
                                <div class="row">
                                    <div class="col">
                                        <a class="nav-link text-dark text-center" href="#">
                                            <img src="~/images/octicons/history.svg">
                                            <span class="font-weight-bold">@Model.HeaderSpecVM.CommitCountInBranch</span>
                                            commits
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="nav-link text-dark text-center" href="#">
                                            <img src="~/images/octicons/git-branch.svg">
                                            <span class="font-weight-bold">@Model.HeaderSpecVM.BranchCount</span>
                                            branches
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="nav-link text-dark text-center" href="#">
                                            <img src="~/images/octicons/tag.svg">
                                            <span class="font-weight-bold">37</span>
                                            releases
                                        </a>
                                    </div>

                                    <div class="col">
                                        <a class="nav-link text-dark text-center" href="#">
                                            <img src="~/images/octicons/law.svg">
                                            <span>MIT</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-1">
                    <div class="col">
                        <ul class="list-inline mb-0">

                            <li class="list-inline-item">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle btn-sm btn-outline-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                        Branch:
                                        <span class="font-weight-bold align-bottom branch-name-span">@Model.BranchVM.CurrentBranch.FriendlyName</span>
                                    </button>
                                    <div class="dropdown-menu dropdown-branch-list">
                                        @foreach (var branch in Model.BranchVM.Branches)
                                        {
                                            <a class="dropdown-item"
                                               asp-page="./Index"
                                               asp-route-Owner="@Model.RepoInfo.Owner"
                                               asp-route-Reponame="@Model.RepoInfo.RepoName"
                                               asp-route-Branch="@branch">@branch</a>
                                            <div class="dropdown-divider"></div>
                                        }
                                    </div>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-outline-dark btn-sm">New pull request</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-inline text-right">
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-outline-dark btn-sm">Find file</button>
                            </li>
                            <li class="list-inline-item">
                                <button type="button" class="btn btn-outline-success btn-sm">Clone or download</button>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item card-repo-header text-muted py-2">
                                    <div class="row">
                                        <div class="col">

                                        </div>
                                        <div class="col text-right">
                                            Latest commit
                                            <a href="#" class="text-dark">
                                                <code>@Model.BranchVM.CurrentBranch.Tip.Sha.Substring(0, 7)</code>
                                            </a>
                                            <span> @DateTimeHelper.GetTimeDifference(Model.BranchVM.CurrentBranch.Tip.Committer.When)</span>
                                        </div>
                                    </div>
                                </li>

                                @foreach (var entry in Model.TableVM.TableEntries)
                                {
                                    <li class="list-group-item py-2 repo-file-dir-entry">
                                        <div class="row">
                                            <div class="col-4">
                                                @if (entry.EntryType == Models.Repository.EntryType.Directory)
                                                {
                                                    <a asp-page="Directory"
                                                       asp-route-Owner="@Model.RepoInfo.Owner"
                                                       asp-route-Reponame="@Model.RepoInfo.RepoName"
                                                       asp-route-Branch="@Model.BranchVM.CurrentBranch.FriendlyName"
                                                       asp-route-RequestDir="@entry.RelativePath">
                                                        <img class="mr-1" src="~/images/octicons/file-directory.svg">
                                                        @entry.FriendlyName
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a asp-page="File"
                                                       asp-route-Owner="@Model.RepoInfo.Owner"
                                                       asp-route-Reponame="@Model.RepoInfo.RepoName"
                                                       asp-route-Branch="@Model.BranchVM.CurrentBranch.FriendlyName"
                                                       asp-route-RequestFile="@entry.RelativePath">
                                                        <img class="mr-1" src="~/images/octicons/file.svg" />
                                                        @entry.FriendlyName
                                                    </a>
                                                }
                                            </div>
                                            <div class="col-6">
                                                @if (entry.LatestCommit == null)
                                                {
                                                    <em class="text-muted">No commit info available.</em>
                                                }
                                                else
                                                {
                                                    <a href="#" class="text-muted">
                                                        @entry.LatestCommit.MessageShort
                                                    </a>
                                                }
                                            </div>
                                            <div class="col-2 text-muted text-right">
                                                @(entry.LatestCommit == null ? string.Empty : DateTimeHelper.GetTimeDifference(entry.LatestCommit.Committer.When))
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                @if (Model.ReadmeContent != null)
                {
                    <div class="row my-3">
                        <div class="col">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item card-readme-header py-2 pl-3 bg-light">
                                        <span class="">
                                            <img src="~/images/octicons/book.svg">
                                            README.md
                                        </span>
                                    </li>
                                </ul>
                                <div class="card-body">
                                    <div class="container px-4 py-4">
                                        <div id="readme-display"></div>
                                        <div id="readme-content" class="d-none">@Model.ReadmeContent</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="tab-pane fade" id="nav-issues">
            aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi
            duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa
        </div>
        <div class="tab-pane fade" id="nav-pr">
            aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi
            duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa
        </div>
    </div>
</div>

@section PageAdditionalPostScripts {
    <script src="~/js/marked.min.js"></script>
    <script>
        document.getElementById('readme-display').innerHTML =
            marked(document.getElementById("readme-content").innerText);
    </script>
}

